<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gestao.controle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ControleNegocio</name>
    <description>
        App de Gestão Financeira e Serviços
    </description>
    <author email="kaiquecarvalho479@gmail.com" href="">
        Kaique Carvalho
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Ícone global e do Android -->
    <icon src="www/img/logo.png" />

    <platform name="android">
        <icon src="www/img/logo.png" />
    </platform>
</widget>